.home {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.home .home-body {
  display: flex;
  flex-direction: row;
  flex: 100%;
}

.home .home-body .home-body-sidebar {
  order: 1;
  overflow: auto;
}

.home .home-body .home-body-repos {
  order: 2;
  overflow: auto;
}

.home .home-body .home-body-board {
  order: 3;
  flex: 100%;
  overflow: auto;
}
